body {
    background-color: black;

    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.bg-body-lightblue {
    background-color: rgb(30, 140, 148);
}

.navbar-brand {
    display: inline-flex;
}

.icon-card {
    padding-left: 45%;
    padding-right: 45%;
}

.card-body {
    background-color: rgb(30, 140, 148);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}